<!-- BEGIN_INCLUDE(us-census-economic-indicator:greet) -->
    <us-census-economic-indicator:greet config-ref="" friend="#[map-payload:friend]" />
<!-- END_INCLUDE(us-census-economic-indicator:greet) -->
